@using PagedList;
@using PagedList.Mvc

@model  IPagedList<Model.EF.Product>
@{
    @*@using PagedList;
        @using PagedList.Mvc*@
ViewBag.Title = "SeeAllProduct";
Layout = "~/Views/Shared/_MyLayout.cshtml";
//var allproduct = (Model.EF.Product)ViewBag.phantrang ;
}

<h2>SeeAllProduct</h2>
<div class="section group">
    @foreach (var item in Model)
    {
        var url = "/chitiet/" + item.MetaTitle + "-" + item.ID;

        <div class="grid_1_of_4 images_1_of_4">
            <a href="#"><img src="@item.Images" alt="@item.Name" /></a>
            <h2>@item.Name </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">@item.Price.Value</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Thêm vào giỏ hàng</a></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    }
    <div class="clear"></div>
    <div class="pagination">
        @Html.PagedListPager(Model, sotrang => Url.Action("SeeAllProduct", new { page = sotrang }))
    </div>
    <!--Phan trang-->
    @*@if (ViewBag.TotalPage > 1)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = ((int)ViewBag.Page);

            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

            var link = "chi-tiet" + "";
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="@link?page=@ViewBag.Prev" title="Trang trước" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == 1)
                        {
                            <li>  <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li>  <a href="@link?page=@i" class="pos" title="Trang @i">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li>  <a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"> <i class="fa fa-angle-right"></i></a></li>
                        <li>  <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"> <i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>


        }
        else
        {

        }*@
</div>


